<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.user">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginRegister.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginRegister.RegisterActivity" />
        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme" />
        <activity android:name=".Ticket.ProfileActivity" />
        <activity android:name=".schedule.ScheduleActivity" />
        <activity android:name=".Seat.SeatActivity" />
        <activity android:name=".Receipt.TicketConfirmationActivity" />
        <activity android:name=".Payment.ConfirmationActivity" />
        <activity android:name=".schedule.FromScheduleActivity" />
        <activity android:name=".schedule.ReturnScheduleActivity" />
        <activity android:name=".RoundTripReceipt.RoundTripTicketConfirmationActivity" />
        <activity android:name=".Seat.SeatActivity2" />
        <activity android:name=".Seat.SeatActivity3" />
        <activity android:name=".Payment.RoundTripConfirmationActivity" />
        <activity android:name=".Booking.ViewBookingActivity" />
        <activity android:name=".DriverDetails.DriverDetailActivity" />
        <activity android:name=".Alarm.AlarmNotificationActivity" />

        <receiver android:name=".Alarm.AlarmReceiver" />
        <activity android:name=".Notification.RatingActivity"></activity>
        <service android:name=".Notification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Notification.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>